/* mat-card {
    width:80%;
    margin:auto;
    
    
} */

.paintRed {
    border: 5px dotted red;
}

mat-form-field,textarea {
    width:100%;
}
.mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: 0 5px 15px 7px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
}